@model ASPMVC_Tsk01.Models.Buildings

@{
    ViewBag.Title = $"Building details {Model.Id}";
}

<h2>Details</h2>

<div>
    <h4>Buildings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adress): @Html.DisplayFor(model => model.Adress)
        </dt>

        <dt>
                @Html.DisplayNameFor(model => model.Capacicty): @Html.DisplayFor(model => model.Capacicty)
        </dt>

        <dt>
                @Html.DisplayNameFor(model => model.BuildingType): @Html.DisplayFor(model => model.BuildingType)
        </dt>

    </dl>
    <table>
        <thead>
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    &nbsp;&nbsp;&nbsp;&nbsp;Last Name
                </th>
                <th>
                    &nbsp;&nbsp;&nbsp;&nbsp;Patr Name
                </th>
                <th>
                    &nbsp;&nbsp;&nbsp;&nbsp;Phone Number
                </th>
                <th>
                    &nbsp;&nbsp;&nbsp;&nbsp;Speciality
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var i in Model.Workers)
            {
            <tr>
                <td>
                    @Html.DisplayFor(w => i.FirstName)
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(w => i.LastName)
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(w => i.PatrName)
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(w => i.PhoneNumber)
                </td>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(w => i.Speciality)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
    @Html.ActionLink("Add Workers","Create","Workers")
</p>
