@model ASPMVC_Tsk01.Models.Workers

@{
    ViewBag.Title = $"Worker details {Model.Id}";
}

<h2>Details</h2>

<div>
    <h4>Workers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName): @Html.DisplayFor(model => model.FirstName)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.LastName): @Html.DisplayFor(model => model.LastName)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.PatrName): @Html.DisplayFor(model => model.PatrName)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber): @Html.DisplayFor(model => model.PhoneNumber)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Speciality): @Html.DisplayFor(model => model.Speciality)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Buildings.Adress): @Html.DisplayFor(model => model.Buildings.Adress)
        </dt>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
